# Lokale IDE-Konfiguration
.idea/

# Temporäre oder abgeleitete Dateien, die nicht in die Versionskontrolle gehören
Der
*.pyc
*.pyd
__pycache__/
venv/
env/
conda/

# zusätzlich laut INSTALLATION_Anleitung_Students.md

# Python
*.py[cod]
*$py.class
*.so
.Python

*.egg-info/
dist/
build/

# PyCharm


# Data & Models
*.pth
*.pkl
data/raw/
data/processed/
saved_models/*.pth

# OS
.DS_Store
Thumbs.db
*.swp